---
openapi: 3.0.0
servers:
- description: Main endpoint.
  url: https://app.asana.com/api/1.0
info:
  contact:
    name: Asana Support
    url: https://asana.com/support
  description: This is the interface for interacting with the [Asana Platform](https://developers.asana.com).
    Our API reference is generated from our [OpenAPI spec] (https://raw.githubusercontent.com/Asana/developer-docs/master/defs/asana_oas.yaml).
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  termsOfService: https://asana.com/terms
  title: Asana
  version: '1.0'
  x-apisguru-categories:
  - developer_tools
  x-docs-schema-whitelist:
  - AsanaResource
  - AsanaNamedResource
  - AttachmentResponse
  - AttachmentCompact
  - BatchResponse
  - CustomFieldSettingResponse
  - CustomFieldSettingCompact
  - CustomFieldResponse
  - CustomFieldCompact
  - EnumOption
  - EventResponse
  - ErrorResponse
  - GoalResponse
  - GoalCompact
  - JobResponse
  - JobCompact
  - OrganiztaionExportResponse
  - OrganiztaionExportCompact
  - PortfolioMembershipResponse
  - PortfolioMembershipCompact
  - PortfolioResponse
  - PortfolioCompact
  - ProjectMembershipResponse
  - ProjectMembershipCompact
  - ProjectResponse
  - ProjectCompact
  - ProjectStatusResponse
  - ProjectStatusCompact
  - SectionResponse
  - SectionCompact
  - StoryResponse
  - StoryCompact
  - TagResponse
  - TagCompact
  - TaskResponse
  - TaskCompact
  - TeamMembershipResponse
  - TeamMembershipCompact
  - TeamResponse
  - TeamCompact
  - UserTaskListResponse
  - UserTaskListCompact
  - UserResponse
  - UserCompact
  - WebhookFilter
  - WebhookResponse
  - WebhookCompact
  - WorkspaceMembershipResponse
  - WorkspaceMembershipCompact
  - WorkspaceResponse
  - WorkspaceCompact
  x-logo:
    url: https://d1gwm4cf8hecp4.cloudfront.net/images/favicons/apple-touch-icon-57x57.png
  x-origin:
  - format: openapi
    url: https://raw.githubusercontent.com/Asana/developer-docs/master/defs/asana_oas.yaml
    version: '3.0'
  x-providerName: asana.com
  x-public-description: This is the interface for interacting with the [Asana Platform](https://developers.asana.com).
    Our API reference is generated from our [OpenAPI spec] (https://raw.githubusercontent.com/Asana/developer-docs/master/defs/asana_oas.yaml).
security:
- personalAccessToken: []
- oauth2: []
tags:
- description: An *attachment* object represents any file attached to a task in Asana,
    whether it’s an uploaded file or one associated via a third-party service such
    as Dropbox or Google Drive.
  name: Attachments
- description: |-
    There are many cases where you want to accomplish a variety of work in the Asana API but want to minimize the number of HTTP requests you make. For example:

    * Modern browsers limit the number of requests that a single web page can
      make at once.
    * Mobile apps will use more battery life to keep the cellular radio on
      when making a series of requests.
    * There is an overhead cost to developing software that can make multiple
      requests in parallel.
    * Some cloud platforms handle parallelism poorly, or disallow it
      entirely.


    To make development easier in these use cases, Asana provides a **batch API** that enables developers to perform multiple “actions” by making only a single HTTP request.

    #### Making a Batch Request

    To make a batch request, send a `POST` request to `/batch`. Like other `POST` endpoints, the body should contain a `data` envelope. Inside this envelope should be a single `actions` field, containing a list of “action” objects.  Each action represents a standard request to an existing endpoint in the Asana API.

    **The maximum number of actions allowed in a single batch request is 10**. Making a batch request with no actions in it will result in a `400 Bad Request`.

    When the batch API receives the list of actions to execute, it will dispatch those actions to the already-implemented endpoints specified by the `relative_path` and `method` for each action. This happens in parallel, so all actions in the request will be processed simultaneously. There is no guarantee of the execution order for these actions, nor is there a way to use the output of one action as the input of another action (such as creating a task and then commenting on it).

    The response to the batch request will contain (within the `data` envelope) a list of result objects, one for each action. The results are guaranteed to be in the same order as the actions in the request, e.g., the first result in the response corresponds to the first action in the request.

    The batch API will always attempt to return a `200 Success` response with individual result objects for each individual action in the request. Only in certain cases (such as missing authorization or malformed JSON in the body) will the entire request fail with another status code. Even if every individual action in the request fails, the batch API will still return a `200 Success` response, and each result object in the response will contain the errors encountered with each action.

    #### Rate Limiting

    The batch API fully respects all of our rate limiting. This means that a batch request counts against *both* the standard rate limiter and the concurrent request limiter as though you had made a separate HTTP request for every individual action. For example, a batch request with five actions counts as five separate requests in the standard rate limiter, and counts as five concurrent requests in the concurrent request limiter. The batch request itself incurs no cost.

    If any of the actions in a batch request would exceed any of the enforced limits, the *entire* request will fail with a `429 Too Many Requests` error. This is to prevent the unpredictability of which actions might succeed if not all of them could succeed.

    #### Restrictions

    Not every endpoint can be accessed through the batch API. Specifically, the following actions cannot be taken and will result in a `400 Bad Request` for that action:

    * Uploading attachments
    * Creating, getting, or deleting organization exports
    * Any SCIM operations
    * Nested calls to the batch API
  name: Batch API
- description: |-
    In the Asana application, Tasks, Projects, and Portfolios can hold user-specified Custom Fields which provide extra information; for example, a priority value or a number representing the time required to complete a Task. This lets a user define the type of information that each Item within a Project or Portfolio can contain in addition to the built-in fields that Asana provides.

    **Note:** Custom Fields are a premium feature. Integrations which work with Custom Fields need to handle an assortment of use cases for free and premium users in context of free and premium organizations. For a detailed examination of to what data users will have access in different circumstances, read the section below on access control.

    `display_value` is a read-only field that will always be a string. For apps that use custom fields, this is a great way to safely display/export the value of a custom field, regardless of its type. We suggest apps use this field in order to future-proof for changes to Custom Fields.

    The characteristics of Custom Fields are:

    * There is metadata that defines the Custom Field. This metadata can be shared across an entire workspace, or be specific to a Project or Portfolio.
    * Creating a Custom Field Setting on a Project or Portfolio means each direct child will have the custom field. This is conceptually akin to adding columns in a database or a spreadsheet: every Task (row) in the Project (table) can contain information for that field, including "blank" values, i.e. `null` data. For Portfolio custom fields, every Project (row) in the Portfolio (table) will contain information for the custom field.
    * Custom Field Settings only go one child deep. Meaning a custom field setting on a portfolio will give each project the custom field, but not each task within those projects.
    * Tasks have Custom Field _values_ assigned to them.

    A brief example: let's imagine that an organization has defined a Custom Field for "Priority". This field is of `enum` type and can have user-defined values of `Low`, `Medium`, or `High`. This is the field metadata, and it is visible within, and shared across, the entire organization.

    A Project is then created in the organization, called "Bugs", and the "Priority" Custom Field is associated with that Project. This will allow all Tasks within the "Bugs" Project to have an associated "Priority".

    A new Task is created within "Bugs". This Task, then, has a field named "Priority" which can take on the Custom Field value of one of `[null]`, `Low`, `Medium`, and `High`.

    These Custom Fields are accessible via the API through a number of endpoints at the top level (e.g. `/custom_fields` and `/custom_field_settings`) and through calls on Workspaces, Portfolios, Projects, and Tasks resources. The API also provides a way to fetch both the metadata and data which define each particular Custom Field, so that a client application may render proper UI to display or edit the values.

    Custom Field aware integrations need to be aware of the basic types that Custom Fields can adopt. These types are:

    * `text` - an arbitrary, relatively short string of text
    * `number` - a number with a defined level of precision
    * `enum` - a selection from a defined list of options

    Text fields are currently limited to 1024 characters. On Tasks, their Custom Field value will have a `text_value` property to represent this field.

    Number fields can have an arbitrary `precision` associated with them; for example, a precision of `2` would round its value to the second (hundredths) place, i.e. 1.2345 would round to 1.23. On Tasks, the Custom Field value will have a `number_value` property to represent this field.

    Enum fields represent a selection from a list of options. On the metadata, they will contain all of the options in an array. Each option has 4 properties:

    * `gid` - the gid of this enum option. Note that this is the gid of the _option_ - the Custom Field itself has a separate `gid`.
    * `name` - the name of the option, e.g. "Choice #1"
    * `enabled` - whether this field is enabled. Disabled fields are not available to choose from when disabled, and are visually hidden in the Asana application, but they remain in the metadata for Custom Field values which were set to the option before the option was disabled.
    * `color` - a color associated with this choice.

    On the Task's Custom Field value, the enum will have an `enum_value` property which will be the same as one of the choices from the list defined in the Custom Field metadata.

    #### Querying an organization for its Custom Fields

    For Custom Fields shared across the workspace or organization, the Workspace [can be queried](/docs/get-a-workspace-39-s-custom-fields) for its list of defined Custom Fields. Like other collection queries, the fields will be returned as a compact record; slightly different from most other compact records is the fact that the compact record for Custom Fields includes `type` as well as `gid` and `name`.

    #### Accessing Custom Field definitions

    The [Custom Fields](/docs/get-a-custom-field) reference describes how the metadata which defines a Custom Field is accessed. A GET request with a `gid` can be issued on the `/custom_fields` endpoint to fetch the full definition of a single Custom Field given its `gid` from (for instance) listing all Custom Fields on a Workspace, or getting the `gid` from a Custom Field Settings object or a Task.

    #### Associating Custom Fields with a Project or Portfolio

    A mapping between a Custom Field and a Project or Portfolio is handled with a [Custom Field Settings](/docs/asana-custom-field-settings) object. This object contains a reference for each of the Custom Field and the Project or Porfolio, as well as additional information about the status of that particular Custom Field. For instance, `is_important`, which defines whether or not the custom field will appear in the list/grid on the Asana application.

    #### Accessing Custom Field values on Tasks or Projects

    The [Tasks](/docs/get-a-task) reference has information on how Custom Fields look on Tasks. Custom Fields will return as an array on the property `custom_fields`, and each entry will contain, side-by-side, the compact representation of the Custom Field metadata and a `{typename}_value` property that stores the value set for the Custom Field.

    Of particular note is that the top-level `gid` of each entry in the `custom_fields` array is the `gid` of the Custom Field metadata, as it is the compact representation of this metadata. This can be used to refer to the full metadata by making a request to the `/custom_fields/{custom_fields_id}` endpoint as described above.

    Custom Fields can be set just as in the Asana-defined fields on a task via POST or PUT requests. You can see an example on the [update a task](/docs/update-a-task) endpoint.

    Custom Fields on projects follow this same pattern.

    #### Warning: Program defensively with regards to Custom Field definitions

    Asana application users have the ability to change the definitions of Custom Field metadata. This means that as you write scripts or applications to work with them, it's possible for the definitions to change at any time, which may cause an application using them to break or malfunction if it makes assumptions about the metadata for a particular Custom Field. When using Custom Fields, it is a good idea to program *defensively*, meaning you your application should double-check that the Custom Field metadata is what it expects.

    Storing the state of the Custom Field metadata for too long if you dynamically create a model for it can cause your model to become unsynchronized with the model stored in Asana. If you encounter (for example) an `enum` value on a Task that does not match any option in your metadata model, your metadata model has become out of date with the Custom Field metadata.

    **Note:** We are currently studying proposals for future implementations to more elegantly handle the modification of Custom Field metadata for application integrations.

    #### Enabled and Disabled Values

    When information that is contained in a Custom Field value loses a logical association with its metadata definition, the value becomes disabled. This can happen in a couple of simple ways, for example, if you remove the Custom Field metadata from a Project, or move a Task with a Custom Field to a different Project which does not have the Custom Field metadata associated with it. The value remains on the Task, and the Custom Field metadata can still be found and examined, but as the context in which the Custom Field makes sense is gone, the Custom Field cannot change its value; it can only be cleared.

    Note: Tasks that are associated with multiple Projects do not become disabled, so long as at least one of the Projects is still associated with the Custom Field metadata. In other words, Tasks with multiple Projects will retain logically associated to the set of Custom Field metadata represented by all of their Projects.

    Moving the Task back under a Project with that Custom Field applied to it or applying the Custom Field metadata to the current Project will return the Custom Field value to an enabled state. In this scenario, the Custom Field will be re-enabled and editable again.

    In the Asana application, disabled fields are grayed out and not allowed to change, other than to be discarded. In the API, we return a property `enabled: false` to inform the external application that the value has been disabled.

    Note that the API enforces the same operations on disabled Custom Field values as hold in the Asana application: they may not have their values changed, since the lack of context for the values of a custom field in general doesn't provide enough information to know what new values should be. Setting the Custom Field value to `null` will clear and remove the Custom Field value from the Task.

    #### Custom Field access control

    Custom Fields are a complex feature of the Asana platform, and their access in the Asana application and in the API vary based on the status of the user and project. When building your application, it's best to be defensive and not assume the given user will have read or write access to a custom field, and fail gracefully when this occurs.
  name: Custom Fields
- description: Custom fields are attached to a particular project with the Custom
    Field Settings resource. This resource both represents the many-to-many join of
    the Custom Field and Project as well as stores information that is relevant to
    that particular pairing; for instance, the `is_important` property determines
    some possible application-specific handling of that custom field.
  name: Custom Field Settings
- description: |-
    An *event* is an object representing a change to a resource that was observed by an event subscription.

    In general, requesting events on a resource is faster and subject to higher rate limits than requesting the resource itself. Additionally, change events bubble up - listening to events on a project would include when stories are added to tasks in the project, even on subtasks.

    Establish an initial sync token by making a request with no sync token. The response will be a `412` error - the same as if the sync token had expired.

    Subsequent requests should always provide the sync token from the immediately preceding call.

    Sync tokens may not be valid if you attempt to go ‘backward’ in the history by requesting previous tokens, though re-requesting the current sync token is generally safe, and will always return the same results.

    When you receive a `412 Precondition Failed` error, it means that the sync token is either invalid or expired. If you are attempting to keep a set of data in sync, this signals you may need to re-crawl the data.

    Sync tokens always expire after 24 hours, but may expire sooner, depending on load on the service.
  name: Events
- description: A `goal` is an object in the goal-tracking system that helps your organization
    drive measurable results.
  name: Goals
- description: |-
    Jobs represent processes that handle asynchronous work.
    Jobs are created when an endpoint requests an action that will be handled asynchronously. Such as project or task duplication.
    Only the creator of the duplication process can access the duplication status of the new object.
  name: Jobs
- description: |-
    An *organization_export* object represents a request to export the complete data of an Organization in JSON format.

    To export an Organization using this API:

    * Create an `organization_export`
      [request](/docs/create-an-organization-export-request)
      and store the id that is returned.
    * Request the `organization_export` every few minutes, until the
      `state` field contains ‘finished’.
    * Download the file located at the URL in the `download_url` field. * Exports can take a long time, from several minutes to a few hours
      for large Organizations.


    *Note: These endpoints are only available to [Service Accounts](https://asana.com/guide/help/premium/service-accounts) of an [Enterprise](https://asana.com/enterprise) Organization.*
  name: Organization Exports
- description: |-
    A `portfolio` gives a high-level overview of the status of multiple initiatives in Asana. Portfolios provide a dashboard overview of the state of multiple projects, including a progress report and the most recent [project status](/docs/asana-project-statuses) update.
    Portfolios have some restrictions on size. Each portfolio has a max of 250 items and, like projects, a max of 20 custom fields.
  name: Portfolios
- description: This object determines if a user is a member of a portfolio.
  name: Portfolio Memberships
- description: |-
    A `project` represents a prioritized list of tasks in Asana or a board with columns of tasks represented as cards. It exists in a single workspace or organization and is accessible to a subset of users in that workspace or organization, depending on its permissions.

    Projects in organizations are shared with a single team. You cannot currently change the team of a project via the API. Non-organization workspaces do not have teams and so you should not specify the team of project in a regular workspace.

    Followers of a project are a subset of the members of that project. Followers of a project will receive all updates including tasks created, added and removed from that project. Members of the project have access to and will receive status updates of the project. Adding followers to a project will add them as members if they are not already, removing followers from a project will not affect membership.
  name: Projects
- description: With the introduction of “comment-only” projects in Asana, a user’s
    membership in a project comes with associated permissions. These permissions (whether
    a user has full access to the project or comment-only access) are accessible through
    the project memberships endpoints described here.
  name: Project Memberships
- description: |-
    A *project status* is an update on the progress of a particular project, and is sent out to all project followers when created. These updates include both text describing the update and a color code intended to represent the overall state of the project: "green" for projects that are on track, "yellow" for projects at risk, "red" for projects that are behind, and "blue" for projects on hold.

    Project statuses can be created and deleted, but not modified.
  name: Project Statuses
- description: |-
    A *section* is a subdivision of a project that groups tasks together. It can either be a header above a list of tasks in a list view or a column in a board view of a project.

    Sections are largely a shared idiom in Asana’s API for both list and board views of a project regardless of the project’s layout.

    The ‘memberships’ property when [getting a task](/docs/get-a-task) will return the information for the section or the column under ‘section’ in the response.
  name: Sections
- description: |-
    *See [our forum post](https://forum.asana.com/t/no-more-parsing-story-text-new-fields-on-stories/42924) for more info on when conditional fields are returned.*

    A *story* represents an activity associated with an object in the Asana system. Stories are generated by the system whenever users take actions such as creating or assigning tasks, or moving tasks between projects. *Comments* are also a form of user-generated story.
  name: Stories
- description: |-
    A tag is a label that can be attached to any task in Asana. It exists in a single workspace or organization.

    Tags have some metadata associated with them, but it is possible that we will simplify them in the future so it is not encouraged to rely too heavily on it. Unlike projects, tags do not provide any ordering on the tasks they are associated with.
  name: Tags
- description: |-
    The task is the basic object around which many operations in Asana are centered. In the Asana application, multiple tasks populate the middle pane according to some view parameters, and the set of selected tasks determines the more detailed information presented in the details pane.

    Sections are unique in that they will be included in the *memberships* field of task objects returned in the API when the task is within a section. They can also be used to manipulate the ordering of a task within a project.

    [Queries](/docs/get-a-set-of-tasks) return a compact representation of each object which is typically the id and name fields. Interested in a specific set of fields or all of the fields? Use [field selectors](/docs/input-output-options) to manipulate what data is included in a response.
  name: Tasks
- description: A *team* is used to group related projects and people together within
    an organization. Each project in an organization is associated with a team.
  name: Teams
- description: This object determines if a user is a member of a team.
  name: Team Memberships
- description: A `time_period` is an object that represents a domain-scoped date range
    that can be set on `Goals`.
  name: Time Periods
- description: The typeahead search API provides search for objects from a single
    workspace.
  name: Typeahead
- description: |-
    A user object represents an account in Asana that can be given access to various workspaces, projects, and tasks.

    Like other objects in the system, users are referred to by numerical IDs. However, the special string identifier `me` can be used anywhere a user ID is accepted, to refer to the current authenticated user.
  name: Users
- description: A user task list represents the tasks assigned to a particular user.
  name: User Task Lists
- description: |-
    *Note: Recently, some users have seen intermittent delays with webhook event distributions. We are in the process of transferring the webhooks system to a more reliable infrastructure while also iteratively improving the current system. As such, for the time being we advise against using webhooks for functionality beyond logging (e.g., syncing state with real-time notification data).*
    *If you experience latency issues, we recommend using webhooks in conjunction with fetching the resource periodically (e.g. [GET a task](https://developers.asana.com/docs/get-a-task)).  More details and ongoing updates can be found in [this post](https://forum.asana.com/t/upcoming-improvements-to-our-webhooks-system/126570) in the developer forum.*
    Webhooks allow an application to be notified of changes in Asana.

    This is similar to our [Events](/docs/asana-events) resource, but webhooks "push" events via HTTP `POST` rather than expecting integrations to repeatedly "poll" for them. For services that are already accessible on the Internet this is often more convenient and efficient.

    However, webhooks _require_ a server to be accessible over the internet at all times to receive the event. For most simple integrations, Events provide much of the same benefits while using a significantly simpler implementation which does not require maintaining an internet-accessible server.

    #### The webhook "handshake"
    In order to ensure that the receiving server is available to receive incoming events from a webhook Asana will `POST` to the requested target endpoint during the webhook creation request. In other words, the outgoing webhook creation request will wait to return until another full `POST` request from Asana's servers to the target has been completed, *then* the webhook creation request can return with a successful response.

    *Note: this means that your server must be able to handle being blocked on the outgoing create request while still being able to receive and handle an incoming request. A common reason that webhook handshakes fail is that servers are not able to asynchronously handle the handshake request.*

    Included in the webhook handshake is a HTTP header called `X-Hook-Secret`.  To successfully complete the handshake the receiving server should echo back the same header with the same value and a `200 OK` or `204 No Content` response code.

    The purpose of this header is to provide a shared secret that both Asana and the receiving server both store--this is the only time it will be transmitted. In future webhook events Asana will use this key to compute a signature over the webhook callback request's body which can be used to verify that the incoming request was genuine (details below). We strongly recommend that you take advantage of this security feature and reject webhooks that have an invalid signature.

    #### Receiving Events

    Because multiple events often happen in short succession, a webhook payload is designed to be able to transmit multiple events at once. The schema of these events is described in [Event](/docs/tocS_Event).

    The HTTP POST that the target receives contains:


     * An `X-Hook-Signature` header, which allows verifying that the payload
     is genuine.  The signature is a SHA256 HMAC signature computed on the
     request body using the shared secret transmitted during the handshake.
     Verification is **strongly recommended**, as it would otherwise be
     possible for an attacker to POST a malicious payload to the same
     endpoint.
     * A JSON body with a single key, `events`, containing an array of the
     events that have occurred since the last webhook delivery. (Note that this
     list may be empty, as periodically we send a "heartbeat" webhook to
     verify that the endpoint is still available.)


    Note that events are "skinny" and contain only some basic details of the change, not the whole resource. We expect integrations to make additional calls to the API to retrieve the latest state from Asana.

    #### Filtering
    Webhook events will "propagate up" from contained objects through to parent objects--for instance, changes to comments will be sent to webhooks on the parent task and to ones on the task's projects. In this way a webhook on a project will be notified of all changes that occur in all of its tasks, subtasks of those tasks, and comments on those tasks and subtasks.

    This can be a lot of data, some of which might not be relevant to a particular integration, so Asana's webhooks have a filtering feature which allows integrations to specify only the types of changes that they care about. By specifying the list of [WebhookFilter](/docs/tocS_WebhookFilter)s on webhook creation an integration can select just the subset of events it wants to receive.  When filters are specified on the webhook events will only be delivered if they pass any of the filters specified when creating the webhook.

    To reduce the volume of data to transfer, webhooks created on teams, portfolios, and workspaces *must* specify filters. In addition, the set of event filters that can be placed on a team-level or workspace-level webhook is more limited than filters for webhooks that are created on lower-level resources:


     * Webhook events from tasks, subtasks, and stories won't be propagated
     to these higher-level webhooks, so all changes on these resources are
     automatically filtered out.
     * Webhook events from `project` resources can be filtered for these
     `action`s: `added`, `removed`, `deleted`, `undeleted`, and `changed`.
     * Webhook events from `team_membership` resources can be filtered to
     `action`s `added` and `removed`.
     * Webhook events from `workspace_membership` resources can be filtered
     to `added` and `removed`.


    #### Error Handling and Retry

    If we attempt to send a webhook payload and we receive an error status code, or the request times out, we will retry delivery with exponential backoff. In general, if your servers are not available for an hour, you can expect it to take no longer than approximately an hour after they come back before the paused delivery resumes. However, if we are unable to deliver a message for 24 hours the webhook will be deactivated.
    #### Webhook Heartbeat Events
    Webhooks keep track of the last time that delivery succeeded, and this time is updated with each success. To help facilitate this, webhooks have a “heartbeat” that will deliver an empty payload at the initial handshake, and then every eight hours. This way, even if there is no activity on the resource, the last success time (i.e `last_success_at`) will still be updated continuously.
    #### Resources and Actions
    This is not an exhaustive list, but should cover the most common use cases.


     * Attachment - deleted, undeleted
     * Portfolio - added, deleted, removed
     * Project - added, changed, deleted, removed, undeleted
     * Project Membership - added, removed
     * Section - added, changed, deleted, undeleted
     * Story - added, removed, undeleted
     * Tag - added, changed, deleted, undeleted
     * Task - added, changed, deleted, removed, undeleted
     * Team - added, changed, deleted
     * Team Membership - added, removed
     * Workspace - added, removed, changed
     * Workspace Memberships - added, removed


    #### Webhook Limits

    Webhooks have two different limits

     * 1k limit per resource in Asana. (If 10 apps each have 100 webhooks
       watching the same resource, no more webhooks can be placed on the
       webhook. `/events` streams count towards this limit)
     * 10k per user-app (An app can have 10k webhooks for EACH user)

    #### Example Integration: Webhook Inspector
    The [Webhook Inspector](https://github.com/Asana/devrel-examples/tree/master/python/webhooks) is a Python script that demonstrates the features of Asana webhooks, including how to both properly set them up and receive them. By using this script, you can create a webhook and log the contents of incoming notifications to your console.
    To use this demo, be sure to generate a new [personal access token](https://developers.asana.com/docs/personal-access-token), then follow the instructions in README.
  name: Webhooks
- description: |-
    A *workspace* is the highest-level organizational unit in Asana. All projects and tasks have an associated workspace.

    An *organization* is a special kind of workspace that represents a company. In an organization, you can group your projects into teams. You can read more about how organizations work on the Asana Guide. To tell if your workspace is an organization or not, check its `is_organization` property.

    Over time, we intend to migrate most workspaces into organizations and to release more organization-specific functionality. We may eventually deprecate using workspace-based APIs for organizations. Currently, and until after some reasonable grace period following any further announcements, you can still reference organizations in any `workspace` parameter.
  name: Workspaces
- description: This object determines if a user is a member of a workspace.
  name: Workspace Memberships
paths:
  "/attachments/{attachment_gid}":
    delete:
      description: |-
        Deletes a specific, existing attachment.

        Returns an empty data record.
      operationId: deleteAttachment
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    "$ref": "#/components/schemas/EmptyResponse"
                type: object
          description: Successfully deleted the specified attachment.
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '500':
          "$ref": "#/components/responses/InternalServerError"
      summary: Delete an attachment
      tags:
      - Attachments
    get:
      description: Get the full record for a single attachment.
      operationId: getAttachment
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    "$ref": "#/components/schemas/AttachmentResponse"
                type: object
          description: Successfully retrieved the record for a single attachment.
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '402':
          "$ref": "#/components/responses/PaymentRequired"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '424':
          "$ref": "#/components/responses/TooManyRequests"
        '500':
          "$ref": "#/components/responses/InternalServerError"
        '501':
          "$ref": "#/components/responses/BadGateway"
        '503':
          "$ref": "#/components/responses/ServiceUnavailable"
        '504':
          "$ref": "#/components/responses/GatewayTimeout"
      summary: Get an attachment
      tags:
      - Attachments
    parameters:
    - "$ref": "#/components/parameters/attachment_path_gid"
    - "$ref": "#/components/parameters/pretty"
    - "$ref": "#/components/parameters/fields"
  "/batch":
    parameters:
    - "$ref": "#/components/parameters/pretty"
    - "$ref": "#/components/parameters/fields"
    post:
      description: Make multiple requests in parallel to Asana's API.
      operationId: createBatchRequest
      requestBody:
        content:
          application/json:
            schema:
              properties:
                data:
                  "$ref": "#/components/schemas/BatchRequest"
              type: object
        description: The requests to batch together via the Batch API.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      "$ref": "#/components/schemas/BatchResponse"
                    type: array
                type: object
          description: Successfully completed the requested batch API operations.
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '500':
          "$ref": "#/components/responses/InternalServerError"
      summary: Submit parallel requests
      tags:
      - Batch API
  "/custom_fields":
    parameters:
    - "$ref": "#/components/parameters/pretty"
    - "$ref": "#/components/parameters/fields"
    - "$ref": "#/components/parameters/limit"
    - "$ref": "#/components/parameters/offset"
    post:
      description: |-
        Creates a new custom field in a workspace. Every custom field is required
        to be created in a specific workspace, and this workspace cannot be
        changed once set.

        A custom field’s name must be unique within a workspace and not conflict
        with names of existing task properties such as ‘Due Date’ or ‘Assignee’.
        A custom field’s type must be one of ‘text’, ‘enum’, or ‘number’.

        Returns the full record of the newly created custom field.
      operationId: createCustomField
      requestBody:
        content:
          application/json:
            schema:
              properties:
                data:
                  "$ref": "#/components/schemas/CustomFieldRequest"
              type: object
        description: The custom field object to create.
      responses:
        '201':
          content:
            application/json:
              schema:
                properties:
                  data:
                    "$ref": "#/components/schemas/CustomFieldResponse"
                type: object
          description: Custom field successfully created.
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '500':
          "$ref": "#/components/responses/InternalServerError"
      summary: Create a custom field
      tags:
      - Custom Fields
  "/custom_fields/{custom_field_gid}":
    delete:
      description: |-
        A specific, existing custom field can be deleted by making a DELETE request on the URL for that custom field.
        Locked custom fields can only be deleted by the user who locked the field.
        Returns an empty data record.
      operationId: deleteCustomField
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    "$ref": "#/components/schemas/EmptyResponse"
                type: object
          description: The custom field was successfully deleted.
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '500':
          "$ref": "#/components/responses/InternalServerError"
      summary: Delete a custom field
      tags:
      - Custom Fields
    get:
      description: |-
        Get the complete definition of a custom field’s metadata.

        Since custom fields can be defined for one of a number of types, and
        these types have different data and behaviors, there are fields that are
        relevant to a particular type. For instance, as noted above, enum_options
        is only relevant for the enum type and defines the set of choices that
        the enum could represent. The examples below show some of these
        type-specific custom field definitions.
      operationId: getCustomField
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    "$ref": "#/components/schemas/CustomFieldResponse"
                type: object
          description: Successfully retrieved the complete definition of a custom
            field’s metadata.
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '500':
          "$ref": "#/components/responses/InternalServerError"
      summary: Get a custom field
      tags:
      - Custom Fields
    parameters:
    - "$ref": "#/components/parameters/custom_field_path_gid"
    - "$ref": "#/components/parameters/pretty"
    - "$ref": "#/components/parameters/fields"
    put:
      description: |-
        A specific, existing custom field can be updated by making a PUT request on the URL for that custom field. Only the fields provided in the `data` block will be updated; any unspecified fields will remain unchanged
        When using this method, it is best to specify only those fields you wish to change, or else you may overwrite changes made by another user since you last retrieved the custom field.
        A custom field’s `type` cannot be updated.
        An enum custom field’s `enum_options` cannot be updated with this endpoint. Instead see “Work With Enum Options” for information on how to update `enum_options`.
        Locked custom fields can only be updated by the user who locked the field.
        Returns the complete updated custom field record.
      operationId: updateCustomField
      requestBody:
        content:
          application/json:
            schema:
              properties:
                data:
                  "$ref": "#/components/schemas/CustomFieldRequest"
              type: object
        description: The custom field object with all updated properties.
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    "$ref": "#/components/schemas/CustomFieldResponse"
                type: object
          description: The custom field was successfully updated.
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '500':
          "$ref": "#/components/responses/InternalServerError"
      summary: Update a custom field
      tags:
      - Custom Fields
  "/custom_fields/{custom_field_gid}/enum_options":
    parameters:
    - "$ref": "#/components/parameters/custom_field_path_gid"
    - "$ref": "#/components/parameters/pretty"
    - "$ref": "#/components/parameters/fields"
    - "$ref": "#/components/parameters/limit"
    - "$ref": "#/components/parameters/offset"
    post:
      description: |-
        Creates an enum option and adds it to this custom field’s list of enum options. A custom field can have at most 50 enum options (including disabled options). By default new enum options are inserted at the end of a custom field’s list.
        Locked custom fields can only have enum options added by the user who locked the field.
        Returns the full record of the newly created enum option.
      operationId: createEnumOptionForCustomField
      requestBody:
        content:
          application/json:
            schema:
              properties:
                data:
                  "$ref": "#/components/schemas/EnumOptionRequest"
              type: object
        description: The enum option object to create.
      responses:
        '201':
          content:
            application/json:
              schema:
                properties:
                  data:
                    "$ref": "#/components/schemas/EnumOption"
                type: object
          description: Custom field enum option successfully created.
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '500':
          "$ref": "#/components/responses/InternalServerError"
      summary: Create an enum option
      tags:
      - Custom Fields
  "/custom_fields/{custom_field_gid}/enum_options/insert":
    parameters:
    - "$ref": "#/components/parameters/custom_field_path_gid"
    - "$ref": "#/components/parameters/pretty"
    - "$ref": "#/components/parameters/fields"
    post:
      description: |-
        Moves a particular enum option to be either before or after another specified enum option in the custom field.
        Locked custom fields can only be reordered by the user who locked the field.
      operationId: insertEnumOptionForCustomField
      requestBody:
        content:
          application/json:
            schema:
              properties:
                data:
                  "$ref": "#/components/schemas/EnumOptionInsertRequest"
              type: object
        description: The enum option object to create.
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    "$ref": "#/components/schemas/EnumOption"
                type: object
          description: Custom field enum option successfully reordered.
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '500':
          "$ref": "#/components/responses/InternalServerError"
      summary: Reorder a custom field's enum
      tags:
      - Custom Fields
  "/enum_options/{enum_option_gid}":
    parameters:
    - description: Globally unique identifier for the enum option.
      example: '124578'
      in: path
      name: enum_option_gid
      required: true
      schema:
        type: string
    - "$ref": "#/components/parameters/pretty"
    - "$ref": "#/components/parameters/fields"
    put:
      description: |-
        Updates an existing enum option. Enum custom fields require at least one enabled enum option.
        Locked custom fields can only be updated by the user who locked the field.
        Returns the full record of the updated enum option.
      operationId: updateEnumOption
      requestBody:
        content:
          application/json:
            schema:
              properties:
                data:
                  "$ref": "#/components/schemas/EnumOptionRequest"
              type: object
        description: The enum option object to update
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    "$ref": "#/components/schemas/EnumOption"
                type: object
          description: Successfully updated the specified custom field enum.
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '500':
          "$ref": "#/components/responses/InternalServerError"
      summary: Update an enum option
      tags:
      - Custom Fields
  "/events":
    get:
      description: |-
        Returns the full record for all events that have occurred since the sync
        token was created.

        A GET request to the endpoint /[path_to_resource]/events can be made in
        lieu of including the resource ID in the data for the request.

        *Note: The resource returned will be the resource that triggered the
        event. This may be different from the one that the events were requested
        for. For example, a subscription to a project will contain events for
        tasks contained within the project.*
      operationId: getEvents
      responses:
        '200':
          content:
            application/json:
              schema:
                description: The full record for all events that have occurred since
                  the sync token was created.
                properties:
                  data:
                    items:
                      "$ref": "#/components/schemas/EventResponse"
                    type: array
                  sync:
                    description: A sync token to be used with the next call to the
                      events endpoint.
                    example: de4774f6915eae04714ca93bb2f5ee81
                    type: string
                type: object
          description: Successfully retrieved events.
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '500':
          "$ref": "#/components/responses/InternalServerError"
      summary: Get events on a resource
      tags:
      - Events
    parameters:
    - description: A resource ID to subscribe to. The resource can be a task or project.
      example: '12345'
      in: query
      name: resource
      required: true
      schema:
        type: string
    - description: |-
        A sync token received from the last request, or none on first sync. Events will be returned from the point in time that the sync token was generated.
        *Note: On your first request, omit the sync token. The response will be the same as for an expired sync token, and will include a new valid sync token.If the sync token is too old (which may happen from time to time) the API will return a `412 Precondition Failed` error, and include a fresh sync token in the response.*
      example: de4774f6915eae04714ca93bb2f5ee81
      in: query
      name: sync
      required: false
      schema:
        type: string
    - "$ref": "#/components/parameters/pretty"
    - "$ref": "#/components/parameters/fields"
  "/goals":
    get:
      description: Returns compact goal records.
      operationId: getGoals
      parameters:
      - description: Globally unique identifier for supporting portfolio.
        example: '159874'
        in: query
        name: portfolio
        schema:
          type: string
      - description: Globally unique identifier for supporting project.
        example: '512241'
        in: query
        name: project
        schema:
          type: string
      - description: Filter to goals with is_workspace_level set to query value. Must
          be used with the workspace parameter.
        example: false
        in: query
        name: is_workspace_level
        schema:
          type: boolean
      - description: Globally unique identifier for the team.
        example: '31326'
        in: query
        name: team
        schema:
          type: string
      - description: Globally unique identifier for the workspace.
        example: '31326'
        in: query
        name: workspace
        schema:
          type: string
      - description: Globally unique identifiers for the time periods.
        example: 221693506165
        in: query
        name: time_periods
        schema:
          items:
            type: string
          type: array
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      "$ref": "#/components/schemas/GoalCompact"
                    type: array
                type: object
          description: Successfully retrieved the requested goals.
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '402':
          "$ref": "#/components/responses/PaymentRequired"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '500':
          "$ref": "#/components/responses/InternalServerError"
      summary: Get goals
      tags:
      - Goals
    parameters:
    - "$ref": "#/components/parameters/pretty"
    - "$ref": "#/components/parameters/fields"
    - "$ref": "#/components/parameters/limit"
    - "$ref": "#/components/parameters/offset"
    post:
      description: |-
        Creates a new goal in a workspace or team.

        Returns the full record of the newly created goal.
      operationId: createGoal
      requestBody:
        content:
          application/json:
            schema:
              properties:
                data:
                  "$ref": "#/components/schemas/GoalRequest"
              type: object
        description: The goal to create.
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                properties:
                  data:
                    "$ref": "#/components/schemas/GoalResponse"
                type: object
          description: Successfully created a new goal.
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '402':
          "$ref": "#/components/responses/PaymentRequired"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '500':
          "$ref": "#/components/responses/InternalServerError"
      summary: Create a goal
      tags:
      - Goals
  "/goals/{goal_gid}":
    delete:
      description: |-
        A specific, existing goal can be deleted by making a DELETE request on the URL for that goal.

        Returns an empty data record.
      operationId: deleteGoal
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    "$ref": "#/components/schemas/EmptyResponse"
                type: object
          description: Successfully deleted the specified goal.
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '402':
          "$ref": "#/components/responses/PaymentRequired"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '500':
          "$ref": "#/components/responses/InternalServerError"
      summary: Delete a goal
      tags:
      - Goals
    get:
      description: Returns the complete goal record for a single goal.
      operationId: getGoal
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    "$ref": "#/components/schemas/GoalResponse"
                type: object
          description: Successfully retrieved the record for a single goal.
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '402':
          "$ref": "#/components/responses/PaymentRequired"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '500':
          "$ref": "#/components/responses/InternalServerError"
      summary: Get a goal
      tags:
      - Goals
    parameters:
    - "$ref": "#/components/parameters/goal_path_gid"
    - "$ref": "#/components/parameters/pretty"
    - "$ref": "#/components/parameters/fields"
    put:
      description: |-
        An existing goal can be updated by making a PUT request on the URL for
        that goal. Only the fields provided in the `data` block will be updated;
        any unspecified fields will remain unchanged.

        Returns the complete updated goal record.
      operationId: updateGoal
      requestBody:
        content:
          application/json:
            schema:
              properties:
                data:
                  "$ref": "#/components/schemas/GoalRequest"
              type: object
        description: The updated fields for the goal.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    "$ref": "#/components/schemas/GoalResponse"
                type: object
          description: Successfully updated the goal.
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '500':
          "$ref": "#/components/responses/InternalServerError"
      summary: Update a goal
      tags:
      - Goals
  "/goals/{goal_gid}/addFollowers":
    parameters:
    - "$ref": "#/components/parameters/pretty"
    - "$ref": "#/components/parameters/fields"
    post:
      description: |-
        Adds followers to a goal. Returns the goal the followers were added to.
        Each goal can be associated with zero or more followers in the system.
        Requests to add/remove followers, if successful, will return the complete updated goal record, described above.
      operationId: addFollowers
      parameters:
      - description: Automatically added
        in: path
        name: goal_gid
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              properties:
                data:
                  "$ref": "#/components/schemas/TaskAddFollowersRequest"
              type: object
        description: The followers to be added as collaborators
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                properties:
                  data:
                    "$ref": "#/components/schemas/GoalResponse"
                type: object
          description: Successfully added users as collaborators.
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '402':
          "$ref": "#/components/responses/PaymentRequired"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '500':
          "$ref": "#/components/responses/InternalServerError"
      summary: Add a collaborator to a goal
      tags:
      - Goals
  "/goals/{goal_gid}/addSubgoal":
    parameters:
    - "$ref": "#/components/parameters/pretty"
    - "$ref": "#/components/parameters/fields"
    post:
      description: |-
        Adds a subgoal to a parent goal. *A goal can have at most 100 subgoals, and a subgoal can have at most 4 parent goals.

        Returns an empty data block.
      operationId: addSubgoal
      parameters:
      - description: Automatically added
        in: path
        name: goal_gid
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              properties:
                data:
                  "$ref": "#/components/schemas/GoalAddSubgoalRequest"
              type: object
        description: The goal to add as a subgoal
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    "$ref": "#/components/schemas/EmptyResponse"
                type: object
          description: Successfully added goal as subgoal.
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '402':
          "$ref": "#/components/responses/PaymentRequired"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '500':
          "$ref": "#/components/responses/InternalServerError"
      summary: Add a subgoal to a parent goal
      tags:
      - Goals
  "/goals/{goal_gid}/addSupportingWork":
    parameters:
    - "$ref": "#/components/parameters/pretty"
    - "$ref": "#/components/parameters/fields"
    post:
      description: Adds a project or portfolio as supporting work for a goal. *A goal
        can have at most 10 supporting projects/portfolios, and a project/portfolio
        can support at most 10 goals*.
      operationId: addSupportingWorkForGoal
      parameters:
      - description: Automatically added
        in: path
        name: goal_gid
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              properties:
                data:
                  "$ref": "#/components/schemas/GoalAddSupportingWorkRequest"
              type: object
        description: The project/portfolio to set as supporting work
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    "$ref": "#/components/schemas/EmptyResponse"
                type: object
          description: Successfully set specified project/portfolio as supporting
            work on the given goal.
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '402':
          "$ref": "#/components/responses/PaymentRequired"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '500':
          "$ref": "#/components/responses/InternalServerError"
      summary: Add a project/portfolio as supporting work for a goal.
      tags:
      - Goals
  "/goals/{goal_gid}/parentGoals":
    get:
      description: Returns a compact representation of all of the parent goals of
        a goal.
      operationId: getParentGoalsForGoal
      parameters:
      - description: Automatically added
        in: path
        name: goal_gid
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      "$ref": "#/components/schemas/GoalCompact"
                    type: array
                type: object
          description: Successfully retrieved the specified goal's parent goals.
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '402':
          "$ref": "#/components/responses/PaymentRequired"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '500':
          "$ref": "#/components/responses/InternalServerError"
      summary: Get parent goals from a goal
      tags:
      - Goals
    parameters:
    - "$ref": "#/components/parameters/pretty"
    - "$ref": "#/components/parameters/fields"
  "/goals/{goal_gid}/removeFollowers":
    parameters:
    - "$ref": "#/components/parameters/pretty"
    - "$ref": "#/components/parameters/fields"
    post:
      description: |-
        Removes followers from a goal. Returns the goal the followers were removed from.
        Each goal can be associated with zero or more followers in the system.
        Requests to add/remove followers, if successful, will return the complete updated goal record, described above.
      operationId: removeFollowers
      parameters:
      - description: Automatically added
        in: path
        name: goal_gid
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              properties:
                data:
                  "$ref": "#/components/schemas/TaskAddFollowersRequest"
              type: object
        description: The followers to be removed as collaborators
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                properties:
                  data:
                    "$ref": "#/components/schemas/GoalResponse"
                type: object
          description: Successfully removed users as collaborators.
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '402':
          "$ref": "#/components/responses/PaymentRequired"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '500':
          "$ref": "#/components/responses/InternalServerError"
      summary: Remove a collaborator from a goal
      tags:
      - Goals
  "/goals/{goal_gid}/removeSubgoal":
    parameters:
    - "$ref": "#/components/parameters/pretty"
    - "$ref": "#/components/parameters/fields"
    post:
      description: Removes a goal as a subgoal of a specified parent goal.
      operationId: removeSubgoal
      parameters:
      - description: Automatically added
        in: path
        name: goal_gid
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              properties:
                data:
                  "$ref": "#/components/schemas/GoalRemoveSubgoalRequest"
              type: object
        description: The goal to be removed as a subgoal
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    "$ref": "#/components/schemas/EmptyResponse"
                type: object
          description: Successfully removed subgoal.
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '402':
          "$ref": "#/components/responses/PaymentRequired"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '500':
          "$ref": "#/components/responses/InternalServerError"
      summary: Remove a subgoal from a goal
      tags:
      - Goals
  "/goals/{goal_gid}/removeSupportingWork":
    parameters:
    - "$ref": "#/components/parameters/pretty"
    - "$ref": "#/components/parameters/fields"
    post:
      description: Removes a project or portfolio as supporting work for a goal.
      operationId: removeSupportingWorkForGoal
      parameters:
      - description: Automatically added
        in: path
        name: goal_gid
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              properties:
                data:
                  "$ref": "#/components/schemas/GoalAddSupportingWorkRequest"
              type: object
        description: The project/portfolio to remove as supporting work
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    "$ref": "#/components/schemas/EmptyResponse"
                type: object
          description: Successfully removed specified project/portfolio as supporting
            work on the given goal.
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '402':
          "$ref": "#/components/responses/PaymentRequired"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '500':
          "$ref": "#/components/responses/InternalServerError"
      summary: Remove a project/portfolio as supporting work for a goal.
      tags:
      - Goals
  "/goals/{goal_gid}/setMetric":
    parameters:
    - "$ref": "#/components/parameters/pretty"
    - "$ref": "#/components/parameters/fields"
    post:
      description: Creates and adds a goal metric to a specified goal. Note that this
        replaces an existing goal metric if one already exists.
      operationId: createGoalMetric
      parameters:
      - description: Automatically added
        in: path
        name: goal_gid
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              properties:
                data:
                  "$ref": "#/components/schemas/GoalMetricRequest"
              type: object
        description: The goal metric to create.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    "$ref": "#/components/schemas/GoalResponse"
                type: object
          description: Successfully created a new goal metric.
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '402':
          "$ref": "#/components/responses/PaymentRequired"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '500':
          "$ref": "#/components/responses/InternalServerError"
      summary: Create a goal metric
      tags:
      - Goals
  "/goals/{goal_gid}/setMetricCurrentValue":
    parameters:
    - "$ref": "#/components/parameters/pretty"
    - "$ref": "#/components/parameters/fields"
    post:
      description: |-
        Updates a goal's existing metric's `current_number_value` if one exists,
        otherwise responds with a 400 status code.

        Returns the complete updated goal metric record.
      operationId: updateGoalMetric
      parameters:
      - description: Automatically added
        in: path
        name: goal_gid
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              properties:
                data:
                  "$ref": "#/components/schemas/GoalMetricCurrentValueRequest"
              type: object
        description: The updated fields for the goal metric.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    "$ref": "#/components/schemas/GoalResponse"
                type: object
          description: Successfully updated the goal metric.
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '402':
          "$ref": "#/components/responses/PaymentRequired"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '500':
          "$ref": "#/components/responses/InternalServerError"
      summary: Update a goal metric
      tags:
      - Goals
  "/goals/{goal_gid}/subgoals":
    get:
      description: Returns a compact representation of all of the subgoals of a goal.
      operationId: getSubgoalsForGoal
      parameters:
      - description: Automatically added
        in: path
        name: goal_gid
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      "$ref": "#/components/schemas/GoalCompact"
                    type: array
                type: object
          description: Successfully retrieved the specified goal's subgoals.
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '402':
          "$ref": "#/components/responses/PaymentRequired"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '500':
          "$ref": "#/components/responses/InternalServerError"
      summary: Get subgoals from a goal
      tags:
      - Goals
    parameters:
    - "$ref": "#/components/parameters/pretty"
    - "$ref": "#/components/parameters/fields"
  "/goals/{goal_gid}/supportingWork":
    get:
      description: Returns any portfolios or projects associated with specified goal.
      operationId: supportingWork
      parameters:
      - description: Automatically added
        in: path
        name: goal_gid
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      "$ref": "#/components/schemas/ProjectCompact"
                    type: array
                type: object
          description: Successfully returned supporting work.
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '402':
          "$ref": "#/components/responses/PaymentRequired"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '500':
          "$ref": "#/components/responses/InternalServerError"
      summary: Get supporting work from a goal
      tags:
      - Goals
    parameters:
    - "$ref": "#/components/parameters/pretty"
    - "$ref": "#/components/parameters/fields"
  "/jobs/{job_gid}":
    get:
      description: Returns the full record for a job.
      operationId: getJob
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    "$ref": "#/components/schemas/JobResponse"
                type: object
          description: Successfully retrieved Job.
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '500':
          "$ref": "#/components/responses/InternalServerError"
      summary: Get a job by id
      tags:
      - Jobs
    parameters:
    - "$ref": "#/components/parameters/job_path_gid"
    - "$ref": "#/components/parameters/pretty"
    - "$ref": "#/components/parameters/fields"
  "/organization_exports":
    parameters:
    - "$ref": "#/components/parameters/pretty"
    - "$ref": "#/components/parameters/fields"
    - "$ref": "#/components/parameters/limit"
    - "$ref": "#/components/parameters/offset"
    post:
      description: This method creates a request to export an Organization. Asana
        will complete the export at some point after you create the request.
      operationId: createOrganizationExport
      requestBody:
        content:
          application/json:
            schema:
              properties:
                data:
                  "$ref": "#/components/schemas/OrganizationExportRequest"
              type: object
        description: The organization to export.
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                properties:
                  data:
                    "$ref": "#/components/schemas/OrganizationExportResponse"
                type: object
          description: Successfully created organization export request.
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '500':
          "$ref": "#/components/responses/InternalServerError"
      summary: Create an organization export request
      tags:
      - Organization Exports
  "/organization_exports/{organization_export_gid}":
    get:
      description: Returns details of a previously-requested Organization export.
      operationId: getOrganizationExport
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    "$ref": "#/components/schemas/OrganizationExportResponse"
                type: object
          description: Successfully retrieved organization export object.
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '500':
          "$ref": "#/components/responses/InternalServerError"
      summary: Get details on an org export request
      tags:
      - Organization Exports
    parameters:
    - "$ref": "#/components/parameters/organization_export_path_gid"
    - "$ref": "#/components/parameters/pretty"
    - "$ref": "#/components/parameters/fields"
  "/organizations/{workspace_gid}/teams":
    get:
      description: Returns the compact records for all teams in the organization visible
        to the authorized user.
      operationId: getTeamsForOrganization
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      "$ref": "#/components/schemas/TeamCompact"
                    type: array
                type: object
          description: Returns the team records for all teams in the organization
            or workspace accessible to the authenticated user.
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '500':
          "$ref": "#/components/responses/InternalServerError"
      summary: Get teams in an organization
      tags:
      - Teams
    parameters:
    - "$ref": "#/components/parameters/workspace_path_gid"
    - "$ref": "#/components/parameters/pretty"
    - "$ref": "#/components/parameters/fields"
    - "$ref": "#/components/parameters/limit"
    - "$ref": "#/components/parameters/offset"
  "/portfolio_memberships":
    get:
      description: Returns a list of portfolio memberships in compact representation.
        You must specify `portfolio`, `portfolio` and `user`, or `workspace` and `user`.
      operationId: getPortfolioMemberships
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      "$ref": "#/components/schemas/PortfolioMembershipCompact"
                    type: array
                type: object
          description: Successfully retrieved portfolio memberships.
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '500':
          "$ref": "#/components/responses/InternalServerError"
      summary: Get multiple portfolio memberships
      tags:
      - Portfolio Memberships
    parameters:
    - "$ref": "#/components/parameters/portfolio_query_param"
    - "$ref": "#/components/parameters/workspace_query_param"
    - "$ref": "#/components/parameters/user_query_param"
    - "$ref": "#/components/parameters/pretty"
    - "$ref": "#/components/parameters/fields"
    - "$ref": "#/components/parameters/limit"
    - "$ref": "#/components/parameters/offset"
  "/portfolio_memberships/{portfolio_membership_gid}":
    get:
      description: Returns the complete portfolio record for a single portfolio membership.
      operationId: getPortfolioMembership
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    "$ref": "#/components/schemas/PortfolioMembershipResponse"
                type: object
          description: Successfully retrieved the requested portfolio membership.
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '500':
          "$ref": "#/components/responses/InternalServerError"
      summary: Get a portfolio membership
      tags:
      - Portfolio Memberships
    parameters:
    - "$ref": "#/components/parameters/portfolio_membership_path_gid"
    - "$ref": "#/components/parameters/pretty"
    - "$ref": "#/components/parameters/fields"
  "/portfolios":
    get:
      description: Returns a list of the portfolios in compact representation that
        are owned by the current API user.
      operationId: getPortfolios
      parameters:
      - "$ref": "#/components/parameters/limit"
      - "$ref": "#/components/parameters/offset"
      - description: The workspace or organization to filter portfolios on.
        example: '1331'
        in: query
        name: workspace
        required: true
        schema:
          type: string
      - description: The user who owns the portfolio. Currently, API users can only
          get a list of portfolios that they themselves own.
        example: '14916'
        in: query
        name: owner
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      "$ref": "#/components/schemas/PortfolioCompact"
                    type: array
                type: object
          description: Successfully retrieved portfolios.
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '500':
          "$ref": "#/components/responses/InternalServerError"
      summary: Get multiple portfolios
      tags:
      - Portfolios
    parameters:
    - "$ref": "#/components/parameters/pretty"
    - "$ref": "#/components/parameters/fields"
    post:
      description: |-
        Creates a new portfolio in the given workspace with the supplied name.

        Note that portfolios created in the Asana UI may have some state
        (like the “Priority” custom field) which is automatically added
        to the portfolio when it is created. Portfolios created via our
        API will *not* be created with the same initial state to allow
        integrations to create their own starting state on a portfolio.
      operationId: createPortfolio
      requestBody:
        content:
          application/json:
            schema:
              properties:
                data:
                  "$ref": "#/components/schemas/PortfolioRequest"
              type: object
        description: The portfolio to create.
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                properties:
                  data:
                    "$ref": "#/components/schemas/PortfolioResponse"
                type: object
          description: Successfully created portfolio.
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '500':
          "$ref": "#/components/responses/InternalServerError"
      summary: Create a portfolio
      tags:
      - Portfolios
  "/portfolios/{portfolio_gid}":
    delete:
      description: |-
        An existing portfolio can be deleted by making a DELETE request on
        the URL for that portfolio.

        Returns an empty data record.
      operationId: deletePortfolio
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    "$ref": "#/components/schemas/EmptyResponse"
                type: object
          description: Successfully deleted the specified portfolio.
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '500':
          "$ref": "#/components/responses/InternalServerError"
      summary: Delete a portfolio
      tags:
      - Portfolios
    get:
      description: Returns the complete portfolio record for a single portfolio.
      operationId: getPortfolio
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    "$ref": "#/components/schemas/PortfolioResponse"
                type: object
          description: Successfully retrieved the requested portfolio.
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '500':
          "$ref": "#/components/responses/InternalServerError"
      summary: Get a portfolio
      tags:
      - Portfolios
    parameters:
    - "$ref": "#/components/parameters/portfolio_path_gid"
    - "$ref": "#/components/parameters/pretty"
    - "$ref": "#/components/parameters/fields"
    put:
      description: |-
        An existing portfolio can be updated by making a PUT request on the URL for
        that portfolio. Only the fields provided in the `data` block will be updated;
        any unspecified fields will remain unchanged.

        Returns the complete updated portfolio record.
      operationId: updatePortfolio
      requestBody:
        content:
          application/json:
            schema:
              properties:
                data:
                  "$ref": "#/components/schemas/PortfolioRequest"
              type: object
        description: The updated fields for the portfolio.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    "$ref": "#/components/schemas/PortfolioResponse"
                type: object
          description: Successfully updated the portfolio.
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '500':
          "$ref": "#/components/responses/InternalServerError"
      summary: Update a portfolio
      tags:
      - Portfolios
  "/portfolios/{portfolio_gid}/addCustomFieldSetting":
    parameters:
    - "$ref": "#/components/parameters/portfolio_path_gid"
    - "$ref": "#/components/parameters/pretty"
    post:
      description: Custom fields are associated with portfolios by way of custom field
        settings.  This method creates a setting for the portfolio.
      operationId: addCustomFieldSettingForPortfolio
      requestBody:
        content:
          application/json:
            schema:
              properties:
                data:
                  "$ref": "#/components/schemas/AddCustomFieldSettingRequest"
              type: object
        description: Information about the custom field setting.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    "$ref": "#/components/schemas/EmptyResponse"
                type: object
          description: Successfully added the custom field to the portfolio.
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '500':
          "$ref": "#/components/responses/InternalServerError"
      summary: Add a custom field to a portfolio
      tags:
      - Portfolios
  "/portfolios/{portfolio_gid}/addItem":
    parameters:
    - "$ref": "#/components/parameters/portfolio_path_gid"
    - "$ref": "#/components/parameters/pretty"
    - "$ref": "#/components/parameters/fields"
    post:
      description: |-
        Add an item to a portfolio.
        Returns an empty data block.
      operationId: addItemForPortfolio
      requestBody:
        content:
          application/json:
            schema:
              properties:
                data:
                  "$ref": "#/components/schemas/PortfolioAddItemRequest"
              type: object
        description: Information about the item being inserted.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    "$ref": "#/components/schemas/EmptyResponse"
                type: object
          description: Successfully added the item to the portfolio.
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '500':
          "$ref": "#/components/responses/InternalServerError"
      summary: Add a portfolio item
      tags:
      - Portfolios
  "/portfolios/{portfolio_gid}/addMembers":
    parameters:
    - "$ref": "#/components/parameters/portfolio_path_gid"
    - "$ref": "#/components/parameters/pretty"
    - "$ref": "#/components/parameters/fields"
    post:
      description: |-
        Adds the specified list of users as members of the portfolio.
        Returns the updated portfolio record.
      operationId: addMembersForPortfolio
      requestBody:
        content:
          application/json:
            schema:
              properties:
                data:
                  "$ref": "#/components/schemas/AddMembersRequest"
              type: object
        description: Information about the members being added.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    "$ref": "#/components/schemas/EmptyResponse"
                type: object
          description: Successfully added members to the portfolio.
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '500':
          "$ref": "#/components/responses/InternalServerError"
      summary: Add users to a portfolio
      tags:
      - Portfolios
  "/portfolios/{portfolio_gid}/custom_field_settings":
    get:
      description: Returns a list of all of the custom fields settings on a portfolio,
        in compact form.
      operationId: getCustomFieldSettingsForPortfolio
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      "$ref": "#/components/schemas/CustomFieldSettingResponse"
                    type: array
                type: object
          description: Successfully retrieved custom field settings objects for a
            portfolio.
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '500':
          "$ref": "#/components/responses/InternalServerError"
      summary: Get a portfolio's custom fields
      tags:
      - Custom Field Settings
    parameters:
    - "$ref": "#/components/parameters/portfolio_path_gid"
    - "$ref": "#/components/parameters/pretty"
    - "$ref": "#/components/parameters/fields"
    - "$ref": "#/components/parameters/limit"
    - "$ref": "#/components/parameters/offset"
  "/portfolios/{portfolio_gid}/items":
    get:
      description: Get a list of the items in compact form in a portfolio.
      operationId: getItemsForPortfolio
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      "$ref": "#/components/schemas/ProjectCompact"
                    type: array
                type: object
          description: Successfully retrieved the requested portfolio's items.
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '500':
          "$ref": "#/components/responses/InternalServerError"
      summary: Get portfolio items
      tags:
      - Portfolios
    parameters:
    - "$ref": "#/components/parameters/portfolio_path_gid"
    - "$ref": "#/components/parameters/pretty"
    - "$ref": "#/components/parameters/fields"
    - "$ref": "#/components/parameters/limit"
    - "$ref": "#/components/parameters/offset"
  "/portfolios/{portfolio_gid}/portfolio_memberships":
    get:
      description: Returns the compact portfolio membership records for the portfolio.
      operationId: getPortfolioMembershipsForPortfolio
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      "$ref": "#/components/schemas/PortfolioMembershipCompact"
                    type: array
                type: object
          description: Successfully retrieved the requested portfolio's memberships.
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '500':
          "$ref": "#/components/responses/InternalServerError"
      summary: Get memberships from a portfolio
      tags:
      - Portfolio Memberships
    parameters:
    - "$ref": "#/components/parameters/portfolio_path_gid"
    - "$ref": "#/components/parameters/user_query_param"
    - "$ref": "#/components/parameters/pretty"
    - "$ref": "#/components/parameters/fields"
    - "$ref": "#/components/parameters/limit"
    - "$ref": "#/components/parameters/offset"
  "/portfolios/{portfolio_gid}/removeCustomFieldSetting":
    parameters:
    - "$ref": "#/components/parameters/portfolio_path_gid"
    - "$ref": "#/components/parameters/pretty"
    post:
      description: Removes a custom field setting from a portfolio.
      operationId: removeCustomFieldSettingForPortfolio
      requestBody:
        content:
          application/json:
            schema:
              properties:
                data:
                  "$ref": "#/components/schemas/RemoveCustomFieldSettingRequest"
              type: object
[...]
